*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/*Header*/
header {
    background-color: red; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

/*Container do formulario*/
.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 5%;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.hidden {
    display: none;
}

.feedback {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

/*Rodapé*/
footer {
    margin-top: 10px;
    background-color: black; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento interno */
    bottom: 0; /* Fixa o rodapé na parte inferior */
    width: 100%; /* Largura total */
}